.hero {
    background-color: rgb(0, 71, 50);
    position: relative;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    color: rgb(30, 225, 126);
    font-size: 120px;
    margin-top: -350px;
    font-weight: 500;
    z-index: 2;
    position: relative;
}

.img-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

}

.img-container img {
    width: 100%;
    max-width: 700px;
    margin-top: 200px;
}

.buttons{
    z-index: 200;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.btn {
    background-color: rgb(30, 225, 126);
    color: rgb(0, 71, 50);
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    z-index: 2;
    position: relative;
    border-radius: 30px;
    font-weight: 500;
}

.hero p {
    color: white;
    margin-top: 10px;
    z-index: 2;
    position: relative;
}


.hero .right{
    display: flex;
    flex-direction: column;
}

.hero .right .rating{
    display: flex;
    gap: 2px;
}

.hero .star{
    color: yellow;
    font-size: 25px;
}
.hero .google{
    font-size: 25px;
}


@media (max-width: 850px) {
    .hero .heading h1{
        font-size: 92px;
        margin-top: -136px;
    }

    .buttons{
        padding: 0 35px;
    }
}

@media (max-width: 825px) {
    .box-2 img {
        width: 260px !important;
        object-fit: cover;
    }
}

@media (max-width: 740px) {
    .find-out{
        display: flex;
        flex-direction: column;
    }
    .find-out .left{
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .find-out .right{
        margin-top: 40px !important;
        width: 100% !important;
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .box-2,.box-3{
        display: flex;
        flex-direction: column !important;
    }
    .box-2 .right{
        width: 100% !important;
    }
    .box-2 .left{
        width: 100% !important;
    }

    .box-2 img{
        width: 100%;
    }
    
}

@media (max-width:670px) {
    .hero{
        overflow-x: hidden;
    }
    .hero .buttons{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .img-container{
        margin-left: 120px;
        width: 60%;
    }
}

@media (max-width: 620px) {
    .hero{
        overflow-x: hidden !important;
    }

    .img-container{
        margin-left: 100px;
        width: 60%;
    }
    .hero .heading h1 {
        font-size: 70px !important;
        margin-top: 34px !important;
    }
}